/*light mode,only color*/
body{
    background-color: #FFFDD0;
    color: #4069b6
}
header{
    background-color: #B68D40;
    color:#FFFDD0
}
footer{
    background-color: #D6AD60;
    color: pink;
}

a,span{
    color: #cccaa0;
}